<div class="row d-flex justify-content-center">
    <div class="w-50 p-3 text-center">
        <div class="card bg-light mb-3" >
            <div class="card-header">Inscription</div>
            <div class="card-body text-secondary">
                <form [formGroup]="userForm">

                    <input type="text" class="form-control" formControlName="name"  placeholder="name">

                    <input type="text" class="form-control" formControlName="username" placeholder="username" >

                    <input type="email" class="form-control" formControlName="email" placeholder="Email address" >
                    
                    
                    <input type="password" class="form-control" formControlName="password" placeholder="Password">
                    
                    <br>
            
                    <button class="btn btn-lg btn-primary btn-block"  (click)="SignUp()">S'inscrire</button>
            

                </form>
            
            </div>
        </div>

    </div>
</div>

