<div class="row d-flex justify-content-center" *ngIf="!isLoggedIn">
    <div class="w-50 p-3 text-center">
        <div class="card bg-light mb-3" >
            <div class="card-header">Sign in</div>
            <div class="card-body text-secondary">
                
                <form [formGroup]="loginForm" >
                

                    <label for="inputusername" class="sr-only">username</label>
                    <input type="text" class="form-control" formControlName="username" >
                    
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" class="form-control" formControlName="password" >
                    
                    <br>
            
                    <button class="btn btn-lg btn-primary btn-block"  (click)="login()">Sign in</button>
            
                    <div class="mt-4">
                        <div class="d-flex justify-content-center links">
                            Don't have an account? 
                            <a routerLink='/signup' class="ml-2">Sign Up</a> 
                        </div>
                    </div>
                    <p class="mt-5 mb-3 text-muted">© 2020-2022</p>
                </form>

            
            </div>
        </div>

    </div>
</div>

<div *ngIf="isLoggedIn">
  <br>  {{user.username}}
  <br>  {{user.username}}
  <br>  {{user.username}}
  <br>  {{user.username}}
  <br>  {{user.username}}
  <br>  {{user.username}}
</div>
